
.row {
    display: flex;
    justify-content: space-between;
    height: 0vh;
}

.row2 {
    display: flex;
    justify-content: space-between;
    height: 0vh;
}

.column1 {
    max-height: 10vh;
}

.newPanel {
    position: relative;
    width: 52vw;
}

#newCard {
    width: 50vw;
    overflow-y: hidden;
    transition: max-height .2s linear;
}

#addTask {
    display: flex;
    justify-content: space-between;
}

.desc {
    margin-top: 3vh;
    justify-content: space-between;
}

.slide-out {
    max-height: 20vh;
}

.slide-in {
    max-height: 4vh;
}

#descriptionInput {
    width: 40vw;
    margin-right: 2vw;
}

#closeDescription {
    margin-bottom: 1.5vh;
}

.calendarPanel {
    width: 30vw;
}

.Calendar {
    width: 40vw;
    max-height: 35vh;
}

.projectPanel {
    width: 60vw;
    max-width: 52vw;
}

.taskPanel {
    width: 60vw;
    max-width: 52vw;
}

.taskCard {
    position: relative;
    z-index: 0;
}

.taskScrollPanel {
    position: relative;
    height: 31vh;
    padding: 0;
    margin: 0;
}

.acc {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#icon {
    padding: 5px;
    border-radius: 10px;
}

.accName {
    width: 35vw;
    margin-top: .5vh;
}

.date {
    margin-top: .5vh;
    width: 5vw;
}

.accIcon {
    color: #a5b4fc;   
    &:hover {
        color: Green;
        background-color: #040d19;
    }
}