.row {
    display: flex;
    justify-content: space-between;
    height: 0vh;   
}

.row2 {
    display: flex;
    justify-content: space-between;
    height: 0vh;
}

.column1 {
    max-height: 10vh;
}

.newPanel {
    width: 52vw;
    max-height: 100vh;
}

#newCard {
    width: 50vw;
    overflow-y: hidden;
    transition: max-height .2s linear;
}

#addTask {
    display: flex;
    justify-content: space-between;
}

.desc {
    margin-top: 3vh;
    justify-content: space-between;
}

.slide-out {
    max-height: 20vh;
}

.slide-in {
    max-height: 10vh;
}

.p-panel {
    max-width: 52vw;
}

#descriptionInput {
    width: 40vw;
    margin-right: 2vw;
}

#closeDescription {
    margin-bottom: 1.5vh;
}

.calendarPanel {
    width: 40vw;
}

.Calendar {
    width: 40vw;
    max-height: 50vh;
}